version: '2'
services:
  server:
    image: yogendrasinghrathore/serverscript:1.0
    networks:
      MyNet:
        ipv4_address: 10.11.0.2
    volumes:
      - servervol:/serverdata
    tty: true

  client:
    image: yogendrasinghrathore/clientscript:1.0
    networks:
      MyNet:
        ipv4_address: 10.11.0.3
    volumes:
      - clientvol:/clientdata
    tty: true
    environment:
      - SSH_CLIENT=10.11.0.2
      - SSH_CONNECTION=10.11.0.2 10.11.0.3
      - USER=root

volumes:
  clientvol:
  servervol:

networks:
  MyNet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "10.11.0.0/31"

